# NSE/BSE API Keys (if any)
NSE_API_KEY=""

# Kotak Neo API
KOTAK_API_KEY=""
KOTAK_CONSUMER_SECRET=""
KOTAK_PHONE=""
KOTAK_MPIN=""
KOTAK_TOTP_SECRET=""

# Paytm Money API
PAYTM_API_KEY=""
PAYTM_API_SECRET=""
PAYTM_ACCESS_TOKEN=""

# Indstocks API
IND_API_KEY=""
IND_ACCESS_TOKEN="eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRJRCI6IjJPT0g0IiwiZXhwIjoxNzY5NDc3NDAwLCJpYXQiOjE3Njk0MTM2MDMsImlzcyI6ImluZG1vbmV5IiwicGFydG5lcklEIjoyNjI4LCJ0b2tlbklEIjoyNTkyfQ.G9n64oFWIKqLEB_KqYFYC33Xk-tx4_8S8-H-iXyyNoUn3CiNV-8hJ577FRnjMJrXzx8vStDcFs5VL4FLfyKCBg"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/prostock"
